$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$navbar-background: #3a0Ca3;
$text-area: #fff;
$text-area-shader: hsl(243, 100%, 77%);
$text-shadow: hsla(243, 81%, 60%, 0.479);

$submit-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;

$spacing: 2rem;
