$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$navbar-background: #222;

$submit-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;

$spacing: 2rem;
