@import "styles/variables.scss";

.__form {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 125px;

  &--input {
    background-color: $text-area;
    border: 0;
    color: $black;
    border-radius: 5px;
    text-align: center;
    height: 1.4rem;
  }

  &--input:focus {
    border-color: $text-area-shader;
    box-shadow: 0 0 0.2rem $text-shadow;
  }

  &__validation {
    color: $danger-color;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &--back {
    width: 2rem;
    height: 2rem;
  }

  %--back:hover {
    cursor: pointer;
    box-shadow: 0 0 0.2rem $text-shadow;
  }

}