@import "styles/variables.scss";

.search__form {

  display: inline-flex;
  padding: 0;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 90%;
  justify-content: space-around;

  &--control {
    background-color: $text-area;
    border: 0;
    color: $black;
    border-radius: 5px;
    text-align: center;
  }

  &--control:focus {
    border-color: $text-area-shader;
    box-shadow: 0 0 0.2rem $text-shadow;
  }
}