@import "styles/variables.scss";

.search__form {

  display: inline-flex;
  padding: 0;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 90%;
  justify-content: space-around;

  &--control {
    background-color: darkgray;
    border: 0;
    color: $white;
    border-radius: 5px;
    text-align: center;
  }

  &--control:focus {
    border-color: hsl(243, 100%, 77%);
    box-shadow: 0 0 0.2rem hsla(243, 81%, 60%, 0.479);
  }
}